Require valid-user
AuthType Basic
AuthName 'Authentication required'
AuthUserFile /home/mostlaub/.htpasswds/htpasswd.3d0938ca-56ed-48dd-98cb-02f5edf1cc1a


#@__HCP_END__@#
# Anything after the comment above is left alone
